<?xml version="1.0" encoding="UTF-8"?>
<list>
  <com.github.hendriksp.jolokia.csv.JmxAttribute>
    <beanPath>java.lang:type=Runtime</beanPath>
    <attributeName>Uptime</attributeName>
  </com.github.hendriksp.jolokia.csv.JmxAttribute>
  <com.github.hendriksp.jolokia.csv.JmxAttribute>
    <beanPath>java.lang:type=OperatingSystem</beanPath>
    <attributeName>ProcessCpuLoad</attributeName>
  </com.github.hendriksp.jolokia.csv.JmxAttribute>
  <com.github.hendriksp.jolokia.csv.JmxAttribute>
    <beanPath>java.lang:type=OperatingSystem</beanPath>
    <attributeName>ProcessCpuTime</attributeName>
  </com.github.hendriksp.jolokia.csv.JmxAttribute>
  <com.github.hendriksp.jolokia.csv.JmxAttribute>
    <beanPath>java.lang:type=OperatingSystem</beanPath>
    <attributeName>SystemCpuLoad</attributeName>
  </com.github.hendriksp.jolokia.csv.JmxAttribute>
  <com.github.hendriksp.jolokia.csv.JmxAttribute>
    <beanPath>java.lang:type=OperatingSystem</beanPath>
    <attributeName>SystemLoadAverage</attributeName>
  </com.github.hendriksp.jolokia.csv.JmxAttribute>
  <com.github.hendriksp.jolokia.csv.JmxAttribute>
    <beanPath>java.lang:type=OperatingSystem</beanPath>
    <attributeName>FreePhysicalMemorySize</attributeName>
  </com.github.hendriksp.jolokia.csv.JmxAttribute>
  <com.github.hendriksp.jolokia.csv.JmxAttribute>
    <beanPath>java.lang:type=OperatingSystem</beanPath>
    <attributeName>TotalPhysicalMemorySize</attributeName>
  </com.github.hendriksp.jolokia.csv.JmxAttribute>
  <com.github.hendriksp.jolokia.csv.JmxAttribute>
    <beanPath>java.lang:type=OperatingSystem</beanPath>
    <attributeName>CommittedVirtualMemorySize</attributeName>
  </com.github.hendriksp.jolokia.csv.JmxAttribute>
  <com.github.hendriksp.jolokia.csv.JmxAttribute>
    <beanPath>java.lang:type=OperatingSystem</beanPath>
    <attributeName>FreeSwapSpaceSize</attributeName>
  </com.github.hendriksp.jolokia.csv.JmxAttribute>
  <com.github.hendriksp.jolokia.csv.JmxAttribute>
    <beanPath>java.lang:type=OperatingSystem</beanPath>
    <attributeName>TotalSwapSpaceSize</attributeName>
  </com.github.hendriksp.jolokia.csv.JmxAttribute>
  <com.github.hendriksp.jolokia.csv.JmxAttribute>
    <beanPath>java.lang:type=OperatingSystem</beanPath>
    <attributeName>OpenFileDescriptorCount</attributeName>
  </com.github.hendriksp.jolokia.csv.JmxAttribute>
  <com.github.hendriksp.jolokia.csv.JmxAttribute>
    <beanPath>java.lang:type=OperatingSystem</beanPath>
    <attributeName>MaxFileDescriptorCount</attributeName>
  </com.github.hendriksp.jolokia.csv.JmxAttribute>
  <com.github.hendriksp.jolokia.csv.JmxPropertyAttribute>
    <columnName>HeapMemoryUsage.max</columnName>
    <beanPath>java.lang:type=Memory</beanPath>
    <attributeName>HeapMemoryUsage</attributeName>
    <propertyName>max</propertyName>
  </com.github.hendriksp.jolokia.csv.JmxPropertyAttribute>
  <com.github.hendriksp.jolokia.csv.JmxPropertyAttribute>
    <columnName>HeapMemoryUsage.committed</columnName>
    <beanPath>java.lang:type=Memory</beanPath>
    <attributeName>HeapMemoryUsage</attributeName>
    <propertyName>committed</propertyName>
  </com.github.hendriksp.jolokia.csv.JmxPropertyAttribute>
  <com.github.hendriksp.jolokia.csv.JmxPropertyAttribute>
    <columnName>HeapMemoryUsage.init</columnName>
    <beanPath>java.lang:type=Memory</beanPath>
    <attributeName>HeapMemoryUsage</attributeName>
    <propertyName>init</propertyName>
  </com.github.hendriksp.jolokia.csv.JmxPropertyAttribute>
  <com.github.hendriksp.jolokia.csv.JmxPropertyAttribute>
    <columnName>HeapMemoryUsage.used</columnName>
    <beanPath>java.lang:type=Memory</beanPath>
    <attributeName>HeapMemoryUsage</attributeName>
    <propertyName>used</propertyName>
  </com.github.hendriksp.jolokia.csv.JmxPropertyAttribute>
  <com.github.hendriksp.jolokia.csv.JmxPropertyAttribute>
    <columnName>NonHeapMemoryUsage.max</columnName>
    <beanPath>java.lang:type=Memory</beanPath>
    <attributeName>NonHeapMemoryUsage</attributeName>
    <propertyName>max</propertyName>
  </com.github.hendriksp.jolokia.csv.JmxPropertyAttribute>
  <com.github.hendriksp.jolokia.csv.JmxPropertyAttribute>
    <columnName>NonHeapMemoryUsage.committed</columnName>
    <beanPath>java.lang:type=Memory</beanPath>
    <attributeName>NonHeapMemoryUsage</attributeName>
    <propertyName>committed</propertyName>
  </com.github.hendriksp.jolokia.csv.JmxPropertyAttribute>
  <com.github.hendriksp.jolokia.csv.JmxPropertyAttribute>
    <columnName>NonHeapMemoryUsage.init</columnName>
    <beanPath>java.lang:type=Memory</beanPath>
    <attributeName>NonHeapMemoryUsage</attributeName>
    <propertyName>init</propertyName>
  </com.github.hendriksp.jolokia.csv.JmxPropertyAttribute>
  <com.github.hendriksp.jolokia.csv.JmxPropertyAttribute>
    <columnName>NonHeapMemoryUsage.used</columnName>
    <beanPath>java.lang:type=Memory</beanPath>
    <attributeName>NonHeapMemoryUsage</attributeName>
    <propertyName>used</propertyName>
  </com.github.hendriksp.jolokia.csv.JmxPropertyAttribute>
  <com.github.hendriksp.jolokia.csv.JmxAttribute>
    <beanPath>java.lang:type=GarbageCollector,name=PS MarkSweep</beanPath>
    <attributeName>CollectionCount</attributeName>
  </com.github.hendriksp.jolokia.csv.JmxAttribute>
  <com.github.hendriksp.jolokia.csv.JmxAttribute>
    <beanPath>java.lang:type=GarbageCollector,name=PS MarkSweep</beanPath>
    <attributeName>CollectionTime</attributeName>
  </com.github.hendriksp.jolokia.csv.JmxAttribute>
  <com.github.hendriksp.jolokia.csv.JmxAttribute>
    <columnName>CollectionCount2</columnName>
    <beanPath>java.lang:type=GarbageCollector,name=PS Scavenge</beanPath>
    <attributeName>CollectionCount</attributeName>
  </com.github.hendriksp.jolokia.csv.JmxAttribute>
  <com.github.hendriksp.jolokia.csv.JmxAttribute>
    <columnName>CollectionTime2</columnName>
    <beanPath>java.lang:type=GarbageCollector,name=PS Scavenge</beanPath>
    <attributeName>CollectionTime</attributeName>
  </com.github.hendriksp.jolokia.csv.JmxAttribute>
  <com.github.hendriksp.jolokia.csv.JmxAttribute>
    <columnName>Direct Buffer Count</columnName>
    <beanPath>java.nio:type=BufferPool,name=direct</beanPath>
    <attributeName>Count</attributeName>
  </com.github.hendriksp.jolokia.csv.JmxAttribute>
  <com.github.hendriksp.jolokia.csv.JmxAttribute>
    <columnName>Direct Buffer Memory Used</columnName>
    <beanPath>java.nio:type=BufferPool,name=direct</beanPath>
    <attributeName>MemoryUsed</attributeName>
  </com.github.hendriksp.jolokia.csv.JmxAttribute>
  <com.github.hendriksp.jolokia.csv.JmxAttribute>
    <columnName>Direct Buffer Total Capacity</columnName>
    <beanPath>java.nio:type=BufferPool,name=direct</beanPath>
    <attributeName>TotalCapacity</attributeName>
  </com.github.hendriksp.jolokia.csv.JmxAttribute>
</list>